/* COLOURS                                                           */
/*                                                                   */
/* #1C3950: header and h1 background                                 */
/* HSV: 207, 65, 31                                                  */
/* Decimal RGB: 28, 57, 80                                           */
/*                                                                   */
/* #2A6EA6; link colour                                              */
/* HSV: 207, 75, 65                                                  */
/* Decimal RGB: 42, 110, 166                                         */
/*                                                                   */
/* #FFA933: complement to #2A6EA6                                    */
/*                                                                   */
/* Triad: #2A6EA6, #FFCD33, #FF7033                                  */
/*                                                                   */
/* #eee: header text                                                 */

body {
    margin: 0px;
    line-height: 1.7;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

#header {
    margin: 0px;
    background-color: #1C3950;
    height: 60px;
}

h1 {
    position: absolute;
    margin: 0px;
    left: 40px;
    color: #eee;
}

a { 
    color: #2A6EA6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    margin-left: 40px;
    width: 600px;
}

.image_snippet {
    float: left; 
    margin-right: 10pt;
    border: 1px solid;
}

p.project {
    clear: both;
    padding-top: 20px;
}

.marginnote {
    position: absolute;
    left: 680px;
    width: 260px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.marginnote, .marginnote > em {
    color: #666;
    font-size: 9pt;
}
